.section-search input{
    padding: 5px !important;
    font-size: 18px !important ;
    width : 90% !important ;
    border-radius: red 100px solid !important; 
}

body
{
    background-color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}