
body{
  background-image: url('/ALAZHAR/image/slide-3.jpg');
  font-weight: bold; 
}
/* html {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} */
 .white-text 
 {
    font-family: serif; 
    color: red;
  }
 /*.input-field input
 {
  padding: 5px !important;
  font-size: 18px !important ;
  width : 90% !important ;
  border-radius: 50%; 
}*/
